.left-sider-logo {
  display: block;
  width: 40px;
}
.left-sider-logo-text {
  width: 110px;
}
.user-name-row {
  margin-left: 20px;
}
.logout-btn {
  width: 100%;
}
.right-content {
  padding: 20px;
  height: 100%;
  background-color: #f4f4f4;
  .bread-list {
    height: 35px;
    line-height: 35px;
    text-align: left;
    color: #888888;
  }
}
